.pageLoader{
    background: url(../images/loader.gif) no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: #ffffff8c;
}

#loading {
	z-index: 10000;
	position: absolute;
	top: 0;
	left:0px;
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.4);
}
#loading-content {
	position: absolute;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	top: 50%;
	left:50%;
	animation: spin 2s linear infinite;
}
	
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* calendar styling */
.fc-col-header-cell{
	background: lightgrey;
}

/* .fc-event{
	background-color: #584ed2 !important;
}
.fc-event:hover{
	background-color: #685ee5;
} */


/* file upload gallery style classes */
.gallery {
	width: 100%;
	/* height: 300px; */
	/* padding: 10px; */
	/* background: grey; */
	/* text-align: center; */
	display: inline-block;
}

.gallery-item {
	/* float: left; */
	/* padding-right: 10px; */
	/* height: 200px; */
	padding: 6px;
	display: inline-block;
	text-align: center;
}

.gallery-item .image {
	display: inline-block;
}

.gallery-item .image img {
	height: 80px;
	width: auto;
	max-width: 100%;
	box-shadow: 2px 4px 7px 1px gray;
}

.gallery-item button {
	margin-top: 5px;
}


/* notification css */
#notification-btn {
	color: blue;
	font-size: 18px;
}

#notification-btn .badge {
	font-size: 11px;    
	background: blue;
	border-radius: 12px;
	position: absolute;
	top: 10%;
}

#notification-panel {
	border: 1px solid #c7bdbd;
	border-radius:0;
	height: 600px;
	width: 350px;
	position: absolute;
	top: 37px;
	right: 15px;
	z-index: 1000;                    
	display: none;
	padding: 10px;
	overflow: auto;
}

#notification-panel .notification {
	border: solid thin #c7bdbd;
    padding: 2px 5px 2px 5px;
	margin: 15px 0 15px 0;
	border-radius: 0;
}